<div class="card shadow-sm mb-5">
  <div class="card-body">
    <h3 id="{{ site.about_title | slugify | default: 'about-me' }}" class="card-title border-bottom pb-3 mb-4">{{ site.about_title | default: "About Me" }}</h3>
    
    <div class="row g-4">
      {%- if site.about_profile_image -%}
        <div class="col-12 col-md-3 text-center no-print">
          <img src="{{ site.about_profile_image | relative_url }}" class="img-fluid rounded shadow" style="max-width: 200px;" alt="Profile Image">
        </div>
      {%- endif -%}
      
      <div class="col-12 {%- if site.about_profile_image -%}col-md-9{%- endif -%} col-print-12">
        <div class="lead">
          {{ site.about_content | strip | markdownify }}
        </div>
      </div>
    </div>
  </div>
</div>
